{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="panel panel-default col-md-12">
        <form id="partnerSearch">
            <div class="panel-heading">
                Search
            </div>
            <div class="panel-body centered">
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="resellerSearchBox">Partner: </label><br />
                        <input id="resellerSearchBox" class="form-component" />
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="reseller">Customer/PBX Context: </label><br />
                        <input name="customer" id="customerSearchBox" class="form-component" />
                    </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
                <!-- <button id="targetPartnerSearch" class="pull-right">Search</button> -->
            </div>
        </form>
    </div>
  </div>
{% endblock %}