{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<script src="{{ url_for('static', filename='js/new.js') }}"></script>
<div class="container" style="width:90%;">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <ul class="header-menu">
          <a href="/">Home</a>
          <a href="/new">New</a>
        </ul>
        </div>
        <div class="panel-body centered">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="resellerSearchBox">Partner: </label><br />
                <input id="resellerSearchBox" class="form-component serverLookup" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="customerSearchBox">Customer: </label><br />
                <input id="customerSearchBox" class="form-component serverLookup" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="pbxSearchBox">PBX Context: </label><br />
                <input id="pbxSearchBox" class="form-component serverLookup" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="serverGroupSearch">Server Group</label><br />
                <select name="serverGroupSearch" id="serverGroupSearch" disabled></select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="fsSearchBox">Destination Server: </label><br />
                <div class="form-group">
                  <small>Include Closed Servers</small><input type="checkbox" id="fsServerStatus" />
                </div>
                <input id="fsSearchBox" class="form-component serverLookup" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <button id='new_migration'>Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
